[submodule "luasql"]
	path = src
	url = https://github.com/lunarmodules/luasql
[submodule "sqlite"]
	path = externals/sqlite
	url = https://github.com/qlua-project/external-sqlite-win64
	branch = canonical
[submodule "lua"]
	path = externals/lua
	url = https://github.com/qlua-project/cmake-lua-win64
	branch = v5.3.5
